@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');


/* colors to use */
/* Purpose of these is so if we wanted to change the background color of something we can use these as shortcuts */
.beige-color{
    color: #EDCB96;
}

.beige-color-bg{
    background: #EDCB96;
}

/* general skins for all pages of website */


.paragraphfonts{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
}

footer{
    background:#DB504A ;
}

header{
    background:#DB504A ;
}

/* general structures for all websites */
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
}

.rbuttoncorner {
    border-radius: 25px;
    padding: 20px; 
    width: 200px;
    height: 50px;  
  }

/* Landing */
/* Structure */
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    justify-items: center;
    align-items: center;

}


.header-structure{    
    padding: 10px;
    margin-bottom: 50px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.footer-structure{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 50px;
    padding: 10px;
}


.register-alignment{
    text-align: center;
}

.sn-buttoncorner{
    border-style: solid;
    border-radius: 15px;
    padding: 10px; 
    width: 200px;
    height: 50px; 
}

.about-card{
    width: 80%;
    height: 100%;
    margin-bottom: 40px;
  }
  
.register-card{
    width: 80%;
    height: 100%;
    margin-bottom: 40px;
    
  }

  .paragraphfonts{
    padding: 20px;
  }

h2{
    padding: 40px;
    text-decoration: underline;
  }

.title-text-size{
    font-size:100px;
}

#sign-in{
    grid-column: 4/5;
}

.title-name{
    grid-column: 2/4;
}

/* Skins */
.landing-body-bg{
    background: #443742;
}

.headingfonts{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;    
}

.about-card{
    background:#DB504A ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 9px double black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.register-card{
    background:#DB504A ;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 9px double black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.footer-style{
    border-right:5px inset black ;
    border-bottom:5px inset black ;
    border-left:5px inset black ;
}

.header-style{
    border-right:5px inset black ;
    border-top:5px inset black ;
    border-left:5px inset black ;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.sn-popup {
  display: none;
  position: absolute;
  bottom: 0;
  border: 3px solid #DB504A ;
  z-index: 9;

  left: 40%;
  right: 50%;
  top: 70%;
  bottom: 50%;
  width: 300px;
  height: 400px;

  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.rgstr-popup {
  display: none;
  position: absolute;
  bottom: 0;
  border: 3px solid #DB504A ;
  z-index: 9;

  left: 40%;
  right: 50%;
  top: 70%;
  bottom: 50%;
  width: 300px;
  height: 400px;
}

/* Add styles to the form container */
.sn-form-container {
  position: relative;
  max-width: 300px;
  padding: 10px;
  background-color: #443742;
  color: #EDCB96;
}

.rgstr-form-container {
  position: relative;
  max-width: 300px;
  padding: 10px;
  background-color: #443742;
  color: #EDCB96;
  border: none;
}

/* Full-width input fields */
.sn-form-container input[type=text], .sn-form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.rgstr-form-container input[type=text], .rgstr-form-container input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.sn-form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.rgstr-form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.sn-form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.rgstr-form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.sn-form-container .cancel {
  background-color: red;
}

.rgstr-form-container .cancel {
  background-color: red;
}
/* Add some hover effects to buttons */
 .sn-form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.rgstr-form-container .btn:hover, .open-button:hover {
  opacity: 1; 
}

.gray-sign-in{
  background-color: #555;
}




.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

