@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');


/* Landing */
/* Structure */
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 60px;
}

.header-structure{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding: 50px;
}




/* Skins */
.landing-body{
    background:#443742 ;

}

.headingfonts{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.paragraphfonts{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
}

header{
    background:#DB504A ;
}

.about-card{
    background:#DB504A ;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: black -5px -5px 2px;
}

.register-card{
    background:#DB504A ;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: black 5px 5px 5px;
}

.footer_contact{
    color: #EDCB96
}

/* Sign in & Registering */
/* Structure */
/* Skins */


/* Initiative */
/* Structure */
/* Skins */