/* Landing */
/* Structure */
.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Skins */
.home-grid{
    background:#443742 ;
}

footer{
    background:#443742 ;

}

header{
    background:#DB504A ;
}

/* Sign in & Registering */
/* Structure */
/* Skins */


/* Initiative */
/* Structure */
/* Skins */